<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tooschoolforcool.alfred.leetcode</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>45E1BDA1-5D1B-441B-890B-AEE0DE144E7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20135D4C-2DD2-452D-979D-5DF062AAD60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zeyu Zhang</string>
	<key>description</key>
	<string>An Alfred workflow for search algorithm problems from LeetCode with custom options.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LeetCode Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20135D4C-2DD2-452D-979D-5DF062AAD60B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lct</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search LeetCode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45E1BDA1-5D1B-441B-890B-AEE0DE144E7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>LeetCode Search for Alfred Workflow

LeetCode Search is an Alfred Workflow plugin for searching algorithm problems in LeetCode with custom options.

For more information, please visit 

https://github.com/TooSchoolForCool/LeetCode-Search

Cheers~</string>
	<key>uidata</key>
	<dict>
		<key>20135D4C-2DD2-452D-979D-5DF062AAD60B</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>45E1BDA1-5D1B-441B-890B-AEE0DE144E7A</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/TooSchoolForCool/LeetCode-Search</string>
</dict>
</plist>
